-i https://pypi.org/simple/
aniso8601==9.0.1
appdirs==1.4.4
astroid==2.5.3
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click==8.0.0rc1
coverage==5.0a4
distlib==0.3.1
filelock==3.0.12
flake8==3.6.0
flask-cors==3.0.7
flask-json==0.3.3
flask-jwt-extended==3.16.0
flask-restplus==0.12.1
flask==1.0.2
idna==2.8
importlib-metadata==4.0.0 ; python_version < '3.8'
isort==5.8.0
itsdangerous==2.0.0rc2
jinja2==3.0.0rc1
jsonschema==3.2.0
lazy-object-proxy==1.6.0
markupsafe==2.0.0rc2
marshmallow==3.0.0rc3
mccabe==0.6.1
more-itertools==8.7.0
passlib==1.7.1
pluggy==0.13.1
psycopg2-binary==2.7.7
psycopg2==2.7.7
py==1.10.0
pycodestyle==2.4.0
pyflakes==2.0.0
pyjwt==2.0.1
pylint==2.3.0.dev0
pyrsistent==0.17.3
pytest==4.1.1
python-dotenv==0.10.1
pytz==2021.1
requests==2.21.0
six==1.15.0
toml==0.10.2
tox==3.7.0
typed-ast==1.4.3 ; implementation_name == 'cpython' and python_version < '3.8'
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.24.3
virtualenv==20.4.4
werkzeug==2.0.0rc4
wrapt==1.12.1
zipp==3.4.1
